<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="../static/INSPINIA/css/bootstrap.min.css" rel="stylesheet" th:href="@{/INSPINIA/css/bootstrap.min.css}">
    <link href="../static/INSPINIA/font-awesome/css/font-awesome.css" rel="stylesheet"
          th:href="@{/INSPINIA/font-awesome/css/font-awesome.css}">

    <!--<link href="../static/INSPINIA/font-awesome/css/font-awesome.css" rel="stylesheet" th:href="@{/INSPINIA/font-awesome/css/font-awesome.css}">-->
    <link href="../static/INSPINIA/css/style.css" rel="stylesheet" th:href="@{/INSPINIA/css/style.css}">

    <!--<link rel="icon" href="data:;base64,=">-->
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">

    <script src="../static/jsencrypt/jsencrypt.min.js" th:src="@{/jsencrypt/jsencrypt.min.js}"></script>

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-display_name">PM</h1>

        </div>
        <h3>Welcome to Property Management</h3>
        <p>A Property Management Project For Test
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <p>Login in. To see more details.</p>
        <form class="m-t" role="form" method="post">
            <div class="" th:text="${msg}">
                <!--Invalid Username/Password.-->
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="username" id="UserName" placeholder="Username"
                       required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="PassWord" placeholder="Password"
                       required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" id="submit">Login</button>

            <a href="#">
                <small>Forgot user_password?</small>
            </a>
            <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>-->
            <!--<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
        </form>
        <p class="m-t">
            <small>UI From Inspinia &copy; 2018</small>
        </p>
    </div>
</div>

<textarea class="" id="publicKey" th:text="${session.LoginPublicKey}" hidden="hidden">
</textarea>


<script type="text/javascript">
    var btn = document.getElementById('submit');
    btn.onclick = function ()
    {

        var encypt = new JSEncrypt({default_key_size: 2048});
        var publickey = document.getElementById('publicKey');
        var username = document.getElementById('UserName');
        var password = document.getElementById('PassWord');


        encypt.setPublicKey(publickey.value);
        // encypt.setPrivateKey(privatekey.value);
        // encypt.getKey();
        var username_enc = encypt.encrypt(username.value);
        var password_enc = encypt.encrypt(password.value);

        // alert(publickey.value);


        username.value = username_enc;
        password.value = password_enc;

        // alert(username_enc);
        // alert(encypt.decrypt(username_enc));

        // alert(password_enc);

    }

</script>
<!-- Mainly scripts -->
<script src="../static/INSPINIA/js/jquery-3.1.1.min.js" th:src="@{/INSPINIA/js/jquery-3.1.1.min.js}"></script>
<script src="../static/INSPINIA/js/bootstrap.min.js" th:src="@{/INSPINIA/js/bootstrap.min.js}"></script>

</body>

</html>


