<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Property.Dao.BuildingEntranceRecordDao">
	<resultMap id="buildingEntranceRecord" type="com.Property.Domain.BuildingEntranceRecord">
		<id column="entrance_record_id" property="entrance_record_id" jdbcType="CHAR"/>
		<result column="prprt_id" property="prprt_id" jdbcType="CHAR"/>
		<result column="building_id" property="building_id" jdbcType="CHAR"/>
		<result column="access_time" property="access_time" jdbcType="TIMESTAMP"/>
		<result column="verify_type" property="verify_type" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="BaseColumnList">
		entrance_record_id, prprt_id, building_id, access_time, verify_type
	</sql>

	<select id="getAll" resultMap="buildingEntranceRecord">
		SELECT
		<include refid="BaseColumnList"/>
		FROM buildingEntranceRecord
	</select>

	<select id="getBERbyParams" resultMap="buildingEntranceRecord" parameterType="java.util.HashMap">
		SELECT
		<include refid="BaseColumnList"/>
		FROM buildingEntranceRecord
		<where>
			1 = 1
			<if test="entrance_record_id!=null and entrance_record_id!=''">
				AND entrance_record_id = #{entrance_record_id,jdbcType=CHAR}
			</if>
			<if test="prprt_id!=null and prprt_id!=''">
				AND prprt_id = #{prprt_id,jdbcType=CHAR}
			</if>
			<if test="building_id!=null and building_id!=''">
				AND building_id = #{building_id,jdbcType=CHAR}
			</if>
			<if test="access_time!=null">
				AND access_time = #{access_time,jdbcType=TIMESTAMP}
			</if>
			<if test="verify_type!=null and verify_type!=''">
				AND verify_type = #{verify_type,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<insert id="addBER" parameterType="com.Property.Domain.BuildingEntranceRecord">
		INSERT INTO buildingEntranceRecord (prprt_id, building_id, access_time, verify_type)
		VALUES (#{prprt_id}, #{building_id}, #{access_time}, #{verify_type})
	</insert>

	<delete id="deleteBER" parameterType="java.lang.String">
		DELETE FROM buildingEntranceRecord
		WHERE entrance_record_id = #{id}
	</delete>

	<update id="updateBER" parameterType="com.Property.Domain.BuildingEntranceRecord">
		UPDATE buildingEntranceRecord
		SET prprt_id    = #{prprt_id}, building_id = #{building_id}, access_time = #{access_time},
			verify_type = #{verify_type}
		WHERE entrance_record_id = #{entrance_record_id}
	</update>
</mapper>