<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Property.Dao.DailyTaskDao">
	<resultMap id="dailyTask" type="com.Property.Domain.DailyTask">
		<id column="task_id" property="task_id" jdbcType="CHAR"/>
		<result column="task_type" property="task_type" jdbcType="VARCHAR"/>
		<result column="task_time" property="task_time" jdbcType="TIMESTAMP"/>
		<result column="task_area" property="task_area" jdbcType="CHAR"/>
		<result column="task_handler" property="task_handler" jdbcType="CHAR"/>
		<result column="task_result" property="task_result" jdbcType="VARCHAR"/>
		<result column="isException" property="isException" jdbcType="BOOLEAN"/>
	</resultMap>

	<sql id="BaseColumnList">
		task_id,task_type,task_time,task_area,task_handler,task_result,isException
	</sql>

	<select id="getAll" resultMap="dailyTask">
		SELECT
		<include refid="BaseColumnList"/>
		FROM dailyTask
	</select>
	
	<update id="finishTask">
		UPDATE dailyTask
		SET task_result = #{result}, isException = #{isException}
		WHERE task_id = #{task_id}
	</update>

	<select id="getHistoryTask"  parameterType="java.lang.String" resultMap="dailyTask">
		SELECT *
		FROM dailyTask
		WHERE task_handler = #{id} and task_result is not null
	</select>

	<select id="tbdTask"  parameterType="java.lang.String" resultMap="dailyTask">
		SELECT *
		FROM dailyTask
		WHERE task_handler = #{id} and task_result = null
	</select>

	<update id="changeTaskHandler" >
		UPDATE dailyTask
		SET task_handler = #{new_handler}
		WHERE task_id = #{task_id}
	</update>

	<select id="getTaskbyParams" resultMap="dailyTask" parameterType="java.util.HashMap">
		SELECT *
		FROM dailyTask
		<where>
			1 = 1
			<if test="task_handler!=null and task_handler!=''">
				AND task_handler = #{task_handler,jdbcType=CHAR}
			</if>
			<if test="task_type!=null and task_type!=''">
				AND task_type = #{task_type,jdbcType=VARCHAR}
			</if>
			<if test="task_time!=null">
				AND task_time = #{task_time,jdbcType=TIMESTAMP}
			</if>
			<if test="task_area!=null and task_area!=''">
				AND task_area = #{task_area,jdbcType=CHAR}
			</if>
			<if test="isException!=null">
				AND isException = #{isException,jdbcType=BOOLEAN}
			</if>
		</where>
	</select>
</mapper>