<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Property.Dao.OverhaulRecordDao">
	<resultMap id="overhaulRecord" type="com.Property.Domain.OverhaulRecord">
		<id column="overhaul_id" property="overhaul_id" jdbcType="CHAR"/>
		<result column="fclt_id" property="fclt_id" jdbcType="CHAR"/>
		<result column="overhaul_type" property="overhaul_type" jdbcType="VARCHAR"/>
		<result column="overhaul_time" property="overhaul_time" jdbcType="TIMESTAMP"/>
		<result column="overhaul_handler" property="overhaul_handler" jdbcType="CHAR"/>
		<result column="overhaul_result" property="overhaul_result" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="totalView" type="com.Property.Domain.OverhaulRecord">
		<id column="overhaul_id" property="overhaul_id" jdbcType="CHAR"/>
		<result column="fclt_id" property="fclt_id" jdbcType="CHAR"/>
		<result column="overhaul_type" property="overhaul_type" jdbcType="VARCHAR"/>
		<result column="overhaul_time" property="overhaul_time" jdbcType="TIMESTAMP"/>
		<result column="overhaul_handler" property="overhaul_handler" jdbcType="CHAR"/>
		<result column="overhaul_result" property="overhaul_result" jdbcType="VARCHAR"/>

		<association property="facilities" javaType="com.Property.Domain.Facilities">
			<id column="fclt_id" property="fclt_id" jdbcType="CHAR"/>
			<result column="fclt_type" property="fclt_type" jdbcType="VARCHAR"/>
			<result column="subarea_id" property="subarea_id" jdbcType="CHAR"/>
			<result column="building_id" property="building_id" jdbcType="CHAR"/>
			<result column="floor" property="floor" jdbcType="INTEGER"/>
			<result column="location" property="location" jdbcType="VARCHAR"/>
		</association>
	</resultMap>

	<sql id="BaseColumnList">
		overhaul_id,fclt_id,overhaul_type,overhaul_time,overhaul_handler,overhaul_result
	</sql>

	<select id="getAll" resultMap="overhaulRecord">
		SELECT
		<include refid="BaseColumnList"/>
		FROM overhaulRecord
	</select>

	<select id="getByID" resultMap="overhaulRecord">
		SELECT
		<include refid="BaseColumnList"/>
		FROM overhaulRecord
		WHERE overhaul_id=#{inputID}
	</select>
	
	<update id="finishOverhaul" >
		UPDATE overhaulRecord
		SET overhaul_time = #{overhaul_time}, overhaul_result = #{result}
		WHERE overhaul_id = #{overhaul_id}
	</update>
	
	<select id="tbdOverhaul" parameterType="java.lang.String" resultMap="totalView">
		SELECT overhaulRecord.*,facilities.*
		FROM overhaulRecord,facilities
		WHERE overhaul_handler = #{id} and overhaul_result = null and overhaulRecord.fclt_id = facilities.fclt_id
	</select>

	<select id="tbdOverHaulCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*)
		FROM overhaulRecord
		WHERE overhaul_handler = #{id} and overhaul_result is null
	</select>

	<select id="overhaulHistory" parameterType="java.lang.String" resultMap="totalView">
		SELECT overhaulRecord.*,facilities.*
		FROM overhaulRecord,facilities
		WHERE overhaul_handler = #{id} and overhaul_result is not null and overhaulRecord.fclt_id = facilities.fclt_id
	</select>

	<update id="changeOverhaulHandler">
		UPDATE overhaulRecord
		SET overhaul_handler = #{new_handler}
		WHERE overhaul_id = #{overhaul_id}
	</update>

	<select id="getOverhaulbyParams" resultMap="totalView" parameterType="java.util.HashMap">
		SELECT overhaulRecord.*,facilities.*
		FROM overhaulRecord,facilities
		<where>
			1 = 1
			<if test="overhaul_id!=null and overhaul_id!=''">
				AND overhaulRecord.overhaul_id = #{overhaul_id,jdbcType=CHAR}
			</if>
			<if test="overhaul_handler!=null and overhaul_handler!=''">
				AND overhaulRecord.overhaul_handler = #{overhaul_handler,jdbcType=CHAR}
			</if>
			<if test="overhaul_type!=null and overhaul_type!=''">
				AND overhaulRecord.overhaul_type = #{overhaul_type,jdbcType=VARCHAR}
			</if>
			<if test="overhaul_time!=null">
				AND overhaulRecord.overhaul_time = #{overhual_time,jdbcType=TIMESTAMP}
			</if>
			<if test="fclt_id!=null and fclt_id!=''">
				AND facilities.fclt_id = #{fclt_id,jdbcType=CHAR}
			</if>
			<if test="fclt_type!=null and fclt_type!=''">
				AND facilities.fclt_type = #{fclt_type,jdbcType=VARCHAR}
			</if>
			<if test="subarea_id!=null and subarea_id!=''">
				AND facilities.subarea_id = #{subarea_id,jdbcType=CHAR}
			</if>
			<if test="building_id!=null and building_id!=''">
				AND facilities.building_id = #{building_id,jdbcType=CHAR}
			</if>
			<if test="floor!=null">
				AND facilities.floor = #{floor,jdbcType=INTEGER}
			</if>
			<if test="location!=null and location!=''">
				AND facilities.location like CONCAT(CONCAT('%',#{location,jdbcType=VARCHAR}),'%')
			</if>
		</where>
	</select>

	<insert id="addOverhaulRecord" parameterType="com.Property.Domain.OverhaulRecord">
		INSERT INTO overhaulRecord (overhaul_id,fclt_id, overhaul_type, overhaul_time, overhaul_handler, overhaul_result)
				VALUES (#{overhaul_id},#{fclt_id}, #{overhaul_type}, #{overhaul_time}, #{overhaul_handler}, #{overhaul_result})
	</insert>

	<delete id="deleteOverhaulRecord" parameterType="java.lang.String">
		DELETE FROM overhaulRecord
			WHERE overhaul_id = #{id}
	</delete>

	<update id="updateOverhaulRecord" parameterType="com.Property.Domain.OverhaulRecord">
		UPDATE overhaulRecord SET fclt_id = #{fclt_id}, overhaul_type = #{overhaul_type}, overhaul_time = #{overhaul_time}, overhaul_handler = #{overhaul_handler}, overhaul_result = #{overhaul_result}
			WHERE overhaul_id = #{overhaul_id}
	</update>

	<select id="getIdCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*)
		FROM (SELECT *
			  FROM overhaulRecord
			  WHERE overhaul_id = #{inputID}) AS S
	</select>
</mapper>