<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Property.Dao.ProprietorDao">
	<resultMap id="proprietor" type="com.Property.Domain.Proprietor">
		<id column="prprt_id" property="prprt_id" jdbcType="CHAR"/>
		<result column="prprt_name" property="prprt_name" jdbcType="VARCHAR"/>
		<result column="gender" property="gender" jdbcType="VARCHAR"/>
		<result column="tel" property="tel" jdbcType="VARCHAR"/>
		<result column="birthday" property="birthday" jdbcType="DATE"/>
		<result column="aprt_building" property="aprt_building" jdbcType="CHAR"/>
		<result column="aprt_floor" property="aprt_floor" jdbcType="INTEGER"/>
		<result column="aprt_room_num" property="aprt_room_num" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="BaseColumnList">
		prprt_id, prprt_name, gender, tel, birthday, aprt_building, aprt_floor, aprt_room_num
	</sql>

	<select id="getAll" resultMap="proprietor">
		SELECT
		<include refid="BaseColumnList"/>
		FROM proprietor
	</select>

	<select id="getSelfInfo" resultMap="proprietor">
		SELECT
		<include refid="BaseColumnList"/>
		FROM proprietor
		WHERE proprietor.prprt_id = #{id}
	</select>

	<update id="alterTel">
		UPDATE proprietor
		SET proprietor.tel = #{tel}
		WHERE proprietor.prprt_id = #{id}
	</update>

	<select id="getProprietorbyParams" resultMap="proprietor" parameterType="java.util.HashMap">
		SELECT
		<include refid="BaseColumnList"/>
		FROM proprietor
		<where>
			1 = 1
			<if test="prprt_id!=null and prprt_id!=''">
				AND prprt_id = #{prprt_id,jdbcType=CHAR}
			</if>
			<if test="prprt_name!=null and prprt_name!=''">
				AND prprt_name like CONCAT(CONCAT('%',#{prprt_name,jdbcType=VARCHAR}),'%')
			</if>
			<if test="gender!=null and gender!=''">
				AND gender = #{gender,jdbcType=VARCHAR}
			</if>
			<if test="tel!=null and tel !=''">
				AND tel = #{tel,jdbcType=VARCHAR}
			</if>
			<if test="birthday!=null">
				AND birthday = #{birthday,jdbcType=DATE}
			</if>
			<if test="aprt_building!=null and aprt_building!=''">
				AND aprt_building = #{aprt_building,jdbcType=CHAR}
			</if>
			<if test="aprt_floor!=null">
				AND aprt_floor = #{aprt_floor,jdbcType=INTEGER}
			</if>
			<if test="aprt_room_num!=null">
				AND aprt_room_num = #{aprt_room_num,jdbcType=INTEGER}
			</if>
		</where>
	</select>

	<insert id="addProprietor" parameterType="com.Property.Domain.Proprietor">
		INSERT INTO proprietor (prprt_name, gender, tel, birthday, aprt_building, aprt_floor, aprt_room_num)
		values (#{prprt_name}, #{gender}, #{tel}, #{birthday}, #{aprt_building}, #{aprt_floor}, #{aprt_room_num})
	</insert>

	<delete id="deleteProprietor" parameterType="java.lang.String">
		DELETE FROM proprietor
		WHERE prprt_id = #{id}
	</delete>

	<update id="updateProprietor" parameterType="com.Property.Domain.Proprietor">
		UPDATE proprietor
		SET prprt_name    = #{prprt_name}, gender = #{gender}, tel = #{tel}, birthday = #{birthday},
			aprt_building = #{aprt_building}, aprt_floor = #{aprt_floor}, aprt_room_num = #{aprt_room_num}
		WHERE prprt_id = #{prprt_id}
	</update>
</mapper>