<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Property.Dao.SubareaDao">
	<resultMap id="subarea" type="com.Property.Domain.Subarea">
		<id column="subarea_id" property="subarea_id" jdbcType="CHAR"/>
	</resultMap>

	<sql id="BaseColumnList">
		subarea_id
	</sql>

	<select id="getAll" resultMap="subarea">
		SELECT
		<include refid="BaseColumnList"/>
		FROM subarea
	</select>

	<select id="getByID" resultMap="subarea">
		SELECT
		<include refid="BaseColumnList"/>
		FROM subarea
		WHERE subarea_id=#{inputID}
	</select>

	<select id="getSubareabyParams" resultMap="subarea" parameterType="java.util.HashMap">
		SELECT
		<include refid="BaseColumnList"/>
		FROM subarea
		<where>
			1 = 1
			<if test="subarea_id!=null and subarea_id!=''">
				AND subarea_id = #{subarea_id,jdbcType=CHAR}
			</if>
		</where>
	</select>

	<insert id="addSubarea" parameterType="com.Property.Domain.Subarea">
		INSERT INTO subarea (subarea_id)
				VALUES (#{subarea_id})
	</insert>

	<delete id="deleteSubarea" parameterType="com.Property.Domain.Subarea">
		DELETE FROM subarea
		WHERE subarea_id=#{subarea_id}
	</delete>

	<select id="getIdCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*)
		FROM (SELECT *
			  FROM subarea_id
			  WHERE subarea_id = #{inputID}) AS S
	</select>


</mapper>